*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:geist mono;
    outline: none;
    color: white;
}
body{
    background-color: black;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
}

h4{
    font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
::-webkit-scrollbar{
    display: none;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 8px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header h1{
    color: white;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 1rem;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:white;
    transition: 0.2s ease;
    padding: 0.5rem;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a:hover{
    background-color: white;
}
.centerPage{
    display: flex;
}
#iconContainer{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 5rem;
    background-color: white;
}
#iconContainer *{
    height: 5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.icon{
    animation: fadeInOut 4s infinite;
}
#icon1{
    animation-delay: 0s;
}
#icon2{
    animation-delay: 1s;
}
#icon3{
    animation-delay: 2s;
}
#icon4{
    animation-delay: 3s;
}

#hero{
    height: 91vh;
    width: 50%;
    background-color: black;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#hero span{
    transform: scale(1.1);
}
#hero span,#hero h1,#hero p{
    color: white;
}
#hero span{
    font-size: 4.5rem;
    font-weight: 800;
    color: goldenrod;
    margin-left: 2rem;
}
#hero h1{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}
#hero p{
    font-size: 2rem;
    font-weight: 800;
    color: goldenrod;
    padding: 0.3rem;
}
#hero button{
    background-color: white;
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.5s;
}
#hero button:hover{
    background-color: black;
    color: white;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5rem;
}

#feature .fe-box{
    width: fit-content;
    transform: scale(1.5);
    text-align: center;
    padding: 25px 15px;
    border: 4px solid black;
    background-color: white;
    border-radius: 4px;
    transition: all 0.5s;

}
input{
    color: black;
}
#feature .fe-box:hover{
    border-color:goldenrod;
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #12046b;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #cdd4f8;
}

#product1{
    text-align: center;
}
#product1 *{
    color: white;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    background-color: white;
    transition: all 0.3s;
}

#product1 .pro:hover{
    transform: scale(1.2);
    margin: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
        color: #060606;
        font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgba(231, 209, 8, 0.47);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #170693;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #051da889;
    font-weight: 500;
    color: #000b8a;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/free-vector/abstract-technological-background_23-2148897676.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #0051b3f6;
}
#banner button:hover{
    background: #000b8a;
    color: #ffffffef;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://img.freepik.com/free-photo/blissful-lady-trendy-summer-clothes-posing-with-camera-yellow-positive-beautiful-girl-hat-chilling-studio_197531-11082.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url("https://media.thewhitecompany.com/i/white/Spring-MB?fmt=auto&$mobile-image$");
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background: #000b8a;
    border: 1px solid #000b8a;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}


#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShrwZGPQUWzqABpvTqs6FjHP5bq98E2p7vGA&s");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url("https://www.shutterstock.com/image-vector/winter-sale-banner-vector-illustration-600w-540425209.jpg");
}

#banner3 .banner-box3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq20VSp1ZPAJ00A4EaQtARiqvA3N4HDW3-yQ&s");
}

#banner3 h2{
    color: #000000;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3{
    color: #170693;
    font-weight: 800;
    font-size: 15px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer *{
    color: white;
    font-weight: 900;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}
footer a:hover{
    color: goldenrod;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}
.sm-banner{
    display: flex;
}
html{
    scroll-behavior: smooth;
}
.col h4{
    font-size: 2rem;
}
#page-header{
      background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20221011/pngtree-blue-gold-background-banner-idea-modern-simple-free-download-image_1467602.jpg");
      width: 100%;
      height: 40vh;
      background-size: cover;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#page-header.blog-header{
    background-image: url("https://t4.ftcdn.net/jpg/06/45/12/47/360_F_645124745_3CGfuoRYiXRME36HMs4EFvr0qjeejuhV.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#blog{
    padding: 150px 150px 0 15;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
     text-decoration: none;
     font-size: 11px;
     color: #000;
     font-weight: 700;
     position: relative;
     transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a::after{
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

#page-header .about-header{
    background-image: url("https://media.istockphoto.com/id/1485939448/photo/data-processing-digital-technology-software-development-concept-computer-programmer-software.jpg?s=612x612&w=0&k=20&c=AMaqBgU79i_uPbJmGzoO9b_RoLwYpGwCaJsnTAsNPaY=");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
